<style>
  td {
   text-align: center;
   position: relative
  }
  .homeTeam {
    font-size: 5em;
        color: green;
   text-align: center;
  }
  .awayTeam {
    font-size: 5em;
        color: red;
   text-align: center;
  }
  .homeScore {
    font-size: 5em;
        color: green;
   text-align: center;
  }
  .awayScore {
    font-size: 5em;
        color: red;
  }
  .round {
    font-size: 5em;
        color: black;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-size: 40px;
  }
</style>

<center><h1>Score update page</h1></center>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/scoreboard/{{currentRound.id}}/update/" method="post">
{% csrf_token %}


        <table width=100%>
            <tr>
                <td class="homeTeam">HOME<br>{{ currentRound.matchInfo.homeTeam }}</td>
                <td class="round"></td>
                <td class="awayTeam">Away<br>{{ currentRound.matchInfo.awayTeam }}</td>
            </tr>

            <tr>
                <td class="homeScore"></p>{{ currentRound.homeTeamScore }}</td>
                <td class="round">Round<br>{{ currentRound.round }}</td>
                <td class="awayScore">{{ currentRound.awayTeamScore }}</td>
            </tr>

            <tr>
                <td ><input type="submit" name="home" value="{{ currentRound.matchInfo.homeTeam }} Win" /></td>
                <td class="round"></td>
                <td ><input type="submit" name="away" value="{{ currentRound.matchInfo.awayTeam }} Win" /></td>
            </tr>
        </table>

</form>